body {
  color: white;
}

.main {
  margin-top: 70px;
  background: url("../img/sunrise.jpg");
  max-width: 750px;
}

.navbar-container {
  max-width: 750px;
}

.panel {
  background-color: transparent;
  border: none;
  padding: 15px;
}

.title {
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
}

.sub-title {
  text-align: center;
}

#tbl-details tr:nth-child(odd) > td {
  font-size: 1.0em;
  font-weight: bold;
  border-color: gray;
  padding-bottom: 0;
}

#tbl-details tr:nth-child(even) > td {
  font-size: 1.0em;
  border-top: none;
  padding-top: 0;
}

#tbl-details > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) {
  border-top: none;
}

.temperature {
  font-weight: bold;
  font-size: 2.5em;
}
