
/*
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.location {
  text-align: center;
  margin: 15px 0 50px 0;
}



.pnl-details {
  padding-bottom: 0;
}

/*
.row-one {
  background-color: orange;
}

.row-two {
  background-color: green;
}

.pnl-title {
  background-color: blue;
}

.panel {
 min-height: 200px;
 background: url("sunrise.jpg");
}


.panel-body {
 min-height: 200px;
 background: url("sunrise.jpg");
}



.panel-heading {
    /*background: url(http://placehold.it/350x150) no-repeat !important;

    background: url("navi.png") no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
*/
